*{
    box-sizing: border-box;
    text-decoration: none;

}
@font-face {
    font-family: Gilroy-Medium;
    src: url(./font/Gilroy-Medium.woff2);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(./font/Gilroy-Bold.woff2);
}

@font-face {
    font-family: Gilroy-Semibold;
    src: url(./font/Gilroy-Semibold.woff2);
}

body{
    scroll-behavior: smooth;
}

img{
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.menu{
    max-width: 1170px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 84px;
}

img{
    display: block;
}

.header{
    height: 100px;
}
.header__menu{
    color: black;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__menu{
    display: flex;
    width: 533px;
    justify-content: space-between;
}

.home__src{
    color: #f25822;
    font-family: 'Gilroy-SemiBold';
}

.text{
    max-width: 522;
    margin-right: 39px;
}

.text__h1{
    color: black;
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    font-weight: 400;
    width: 522px;
    margin-bottom: 17px;
    line-height: 70px;
}

.text__p{
    color: #888;
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    font-weight: 400;
    max-width: 466px;
    margin-bottom: 37px;
    line-height: 23px;
}

.start{
    color: #fff;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    font-weight: 400;
    background-color: #f25822;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin-right: 72px;
    padding: 15px 36px 16px 35px;
}

.watch{
    color: #AAAAAA;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    font-weight: 400;
}

.content{
    margin-bottom: 162px;
    display: flex;
}


.footer__logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 96px;
}

.perf{
    background-color: #fafafa;
    padding-top: 127px;
}

.perfect{
    display: flex;
}

.perfect__text {
    max-width: 515px;
}

.perfect__text h2 {
    font-family: 'Gilroy-Bold';
    font-size: 45px;
    line-height: 52px;
    margin-bottom: 20px;
    max-width: 409px;
}

.perfect__text p {
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 24px;
    color: #666;
    margin-bottom: 35px;
}

.perfect__text button {
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 17px;
    color: #fff;
    background-color: #F25822;
    border: none;
    border-radius: 50px;
    padding: 16px 31px 15px 31px;
}

.info{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 100px;
    gap: 60px;
}

.info img{
    margin-bottom: 25px;
}

.info h2{
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 17px;
}

.info p{
    font-family: Gilroy-Medium;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    margin-bottom: 25px;
}

.info a{
    font-family: Gilroy-Bold;
    font-size: 11px;
    line-height: 16px;
    color: #000;
}

.grow .drive{
    max-width: 310px;
}

.get{
    max-width: 370px;
    box-shadow: 15px 25px 56px 6px #0000000F;
    padding: 40px 31px 25px 30px;

}

.product{
    background-color: #fafafa;
    padding-bottom: 100px;
}


.product__text{
    max-width: 682px;
    margin-bottom: 55px;
    margin: 0 auto 55px;
    text-align: center;
    padding-top: 92px;
}

.product__text h2{
    font-family: Gilroy-Bold;
    font-size: 45px;
    line-height: 52px;
    margin-bottom: 19px;
}

.product__text p{
    font-family: Gilroy-Medium;
    font-size: 16px;
    line-height: 24px;
}

.product__item{
    display: flex;
    gap: 30px;
    background-color: white;
}

.product__item img{
    margin-bottom: 25px;
}

.product__item h2{
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 22px;
    text-align: center;
}

.product__item p{
    font-family: Gilroy-Medium;
    font-size: 15px;
    line-height: 22px;
    color: #aaa;
    margin-bottom: 39px;
    text-align: center;
    margin: 15px 36px 39px 46px;
}

.product__item button{
    font-family: Gilroy-Bold;
    font-size: 13px;
    color: white;
    border: none;
    border-radius: 50px;
    background-color: #F25822;
    box-shadow: 4px 4px 8px 0px #F2582233;
    padding: 15px 36px 15px 46px;
    margin-left: 100px;
    margin-bottom: 50px;
    cursor: pointer;

}

.product__item2{
    box-shadow: 15px 25px 60px -5px #0000001A;
}

footer{
    width: 1920px;
    height: 243px;
}

.compas {
    display: flex;
    gap: 30px;
}


.compas__text h2 {
    font-family: 'Gilroy-Bold';
    font-size: 45px;
    line-height: 52px;
    max-width: 557px;
    margin-top: 107px;
    margin-bottom: 19px;
}

.compas__text p {
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    line-height: 24px;
    color: #666;
    max-width: 570px;
    margin-bottom: 96px;
}

.compas__item1, .compas__item2, .compas__item3 {
    display: flex;
    gap: 29px;
    align-items: center;
    max-width: 570px;
    padding: 17px 45px 26px 30px;
}

.compas__item1, .compas__item2 {
    margin-bottom: 30px;
}

.compas__item2 {
    box-shadow: 15px 25px 60px -5px #0000001A;

}

.compas__item3 {
    margin-bottom: 14px;
}

.compas__item1 h5, .compas__item2 h5, .compas__item3 h5 {
    font-family: 'Gilroy-Bold';
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 8px;
}

.compas__item1 p, .compas__item2 p, .compas__item3 p {
    font-family: 'Gilroy-Medium';
    font-size: 15px;
    line-height: 22px;
    color: #666;
    max-width: 365px;
}